<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="SampleLogin">
    <classes>
     <class name="SampleTest.SampleLogin"/>
     <class name="SampleTest.Popup"/>
     <class name="Sample1.Crossbrowser"/>
     <class name="Sample1.ParallelExecution"/>
        
        </classes>
  </test> <!-- SampleLogin -->
</suite> <!-- Suite -->
